extends base

block content 
.
        span.card__footer-text per person
    p.card__ratings
        span.card__footer-value 4.9
        span.card__footer-text rating (21)
    a.btn.btn--green.btn--small(href='#') Details